$tealBlue: #75d2e4;

.userInfos {
  width: 372px;
  height: 277px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 48px 20px 18px 19px;
  color: #292929;
  .partner {
    height: 19px;
    opacity: 0.2;
    font-size: 16px;
    font-weight: bold;
  }
  .userInfoFrame {
    width: 372px;
    height: 246px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
    .userInfo {
      width: 178px;
      height: 196.4px;
      margin: 0 0 19.6px;
      padding: 16px 16px 15.4px;
      object-fit: contain;
      border-radius: 24px;
      background-image: url("../../../../../public/img/partnerBackground/day.png");
      .partnerCard {
        width: 146px;
        height: 195px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
        .partnerFrame {
          height: 115px;
          align-self: stretch;
          display: flex;
          flex-direction: column;
          gap: 8px;
          .partnerInfoHead {
            height: 30px;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .partnerIcon {
              width: 30px;
              height: 30px;
              margin: 0 16px 0 0;
              border: solid 2px white;
              background-color: $tealBlue;
              border-radius: 50%;
              display: flex;
              text-align: center;
              align-items: center;
              .initial {
                width: 30px;
                height: 16.3px;
                opacity: 0.8;
                font-size: 12px;
                font-weight: 600;
                color: white;
              }
            }
            .languageInfo {
              height: 30px;
              flex-grow: 1;
              font-size: 12px;
              text-align: right;
              .languageBold {
                font-weight: bold;
              }
            }
          }
          .name {
            width: 79px;
            height: 29px;
            font-size: 24px;
          }
          .partnerInfoFrame {
            width: 143px;
            height: 40px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .university {
              width: 149px;
              height: 16px;
              font-size: 13px;
            }
            .curTime {
              width: 200px;
              height: 16px;
              display: flex;
              flex-direction: row;
              gap: 4px;
              .localTime {
                height: 16px;
                font-size: 13px;
              }
              .time {
                height: 16px;
                font-size: 13px;
                font-weight: bold;
              }
            }
          }
        }
        .linkFrame {
          height: 40px;
          align-self: stretch;
          display: flex;
          gap: 8px;
        }
      }
    }
    .userInfoNight {
      @extend .userInfo;
      background-image: url("../../../../../public/img/partnerBackground/night.png");
      color: white;
    }
  }
}
