.wordsListView {
  .wordsList {
    .wordsListHead {
      display: flex;
      margin: 0px 0px 10px 60px;
      gap: 240px;
    }
  }
}
.wordsListRow {
  display: flex;
  .wordsListId {
    display: flex;
    width: 50px;
    background-color: rgb(248, 243, 233);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wordsListTerm {
    padding: 15px 0px 0px 15px;
    width: 250px;
  }
  .wordsListDefinition {
    padding: 15px 0px 0px 15px;
    width: 250px;
  }
  .wordsListEllipsis {
    font-size: 25px;
    font-weight: bold;
    color: grey;
  }
  .wordsListEllipsisBox {
    display: flex;
    z-index: 20;
    flex-direction: column;
    background-color: rgb(168, 168, 168);
    position: absolute;
    margin-left: -100px;
    margin-top: 40px;
    gap: 0px;
    .wordsListMove {
      border-bottom: 1px solid black;
      width: 100%;
      padding: 10px 30px 10px 30px;
    }
    .wordsListMoveScreen {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: -300px;
      background-color: white;
      position: absolute;
      width: 380px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid black;
      button {
        text-align: left;
        font-weight: bold;
      }
    }
    .wordsListDelete {
      padding: 10px 30px 10px 30px;
    }
  }
}

.wordsAddBtn {
  font-size: 50px;
  margin: 50px 0px 0px 300px;
}
