@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
$black-shade: #292929;
$tealBlue: #75d2e4;

.classmates {
  width: 191px;
  height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  margin: 47px 0 19px 16px;
  padding: 16px 24px;
  border-radius: 24px;
  box-shadow: 0 8px 24px 0 rgba(233, 236, 242, 0.5);
  background-color: white;
  .classmatesFrame {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
    .classmatesHead {
      width: 122px;
      height: 24px;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      padding: 0;
      .title {
        width: 84px;
        height: 24px;
        flex-grow: 0;
        opacity: 0.2;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $black-shade;
      }
      .number {
        width: 30px;
        height: 18px;
        flex-grow: 0;
        font-family: ProximaNova;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $black-shade;
        .blue {
          color: #1472ff;
        }
      }
    }
    .classmatesBody {
      height: 494px;
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
      padding: 0;
      .classmate {
        width: 116px;
        height: 32px;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 0;
        .icon {
          width: 30px;
          height: 30px;
          margin: 1px 8px 1px 0;
          background-color: $tealBlue;
          border-radius: 50%;
          display: flex;
          align-items: center;
          .initial {
            width: 30px;
            height: 16.3px;
            opacity: 0.8;
            font-family: ProximaNova;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: white;
          }
        }
        .classmateInfo {
          height: 32px;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0;
          border-radius: 24px;
          .name {
            width: 63px;
            height: 17px;
            flex-grow: 0;
            font-family: ProximaNova;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $black-shade;
          }
          .lang {
            height: 15px;
            flex-grow: 0;
            opacity: 0.3;
            font-family: ProximaNova;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $black-shade;
            .bold {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
