.wordsCardView {
  display: flex;
}
.wordsListCard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  .wordCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 4px 0px rgb(208, 209, 198);
    .wordCardTerm {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .wordsListTerm {
    padding: 15px 0px 0px 15px;
    width: 250px;
  }
  .wordsListDefinition {
    padding: 15px 0px 0px 15px;
    width: 250px;
  }
  .wordsListEllipsis {
    font-size: 25px;
    font-weight: bold;
    color: grey;
  }
  .wordsListEllipsisBox {
    display: flex;
    z-index: 20;
    flex-direction: column;
    background-color: rgb(168, 168, 168);
    position: absolute;
    margin-left: 520px;
    margin-top: 35px;
    gap: 0px;
    .wordsListMove {
      border-bottom: 1px solid black;
      width: 100%;
      padding: 10px 30px 10px 30px;
    }
    .wordsListMoveScreen {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: -300px;
      background-color: white;
      position: absolute;
      width: 380px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid black;
      button {
        text-align: left;
        font-weight: bold;
      }
    }
    .wordsListDelete {
      padding: 10px 30px 10px 30px;
    }
  }
}
