.chatBody {
  width: 834px;
  height: 573px;
  margin: 20px -30px 24px 0px;
  padding: 0 0 16px;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(233, 236, 242, 0.5);
  background-color: white;
  .chatInfo {
    height: 64px;
    font-weight: bold;
    font-size: 13px;
    .accounts {
      height: 20px;
      display: flex;
      gap: 16px;
      margin: 13px 141px 29px 15px;
      .accountFrame {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .lightblue {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: lightblue;
          text-decoration: none;
          color: white;
          padding: 3px;
          border: solid 2px rgba(255, 255, 255, 0.6);
        }
        .red {
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: red;
          text-decoration: none;
          color: white;
          padding: 3px;
          border: solid 2px rgba(255, 255, 255, 0.6);
        }
        .initial {
          width: 20px;
          opacity: 0.9;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          color: white;
        }
        .name {
          height: 23px;
          margin: 0 8px 0 0;
          font-size: 16px;
          font-weight: bold;
          color: #000;
        }
      }
    }

    .meeting {
      display: flex;
      .weekly {
        width: 120px;
        height: 15px;
        margin: 28px 0px 16px 71px;
        opacity: 0.5;
        font-size: 12px;
        color: #000;
      }
      .meetingItem {
        width: 140px;
        height: 47px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        margin: 0 0 15px 15px;
        padding: 8px 16px;
        border-radius: 8px;
        border: solid 2px #000;
        .localTime {
          width: 140px;
          height: 17px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: #000;
        }
        .convertedTime {
          width: 140px;
          height: 12px;
          font-size: 10px;
          font-weight: 600;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .line {
    width: 834px;
    height: 1px;
    margin: 15px 0 13px;
    opacity: 0.1;
    background-color: #292929;
  }
  .chatScreen {
    padding: 5px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    .chatContainer {
      width: 834px;
      height: 370px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 13px 16px;
      border-radius: 8px;
      .partnerChat {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
        .chatItem {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          .chatBox {
            display: flex;
            gap: 10px;
            padding: 10px;
            border-radius: 8px;
            border: solid 1px rgba(41, 41, 41, 0.1);
            .chatMessage {
              font-size: 13px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: left;
              color: #292929;
            }
          }
          .number {
            width: 6px;
            height: 12px;
            font-size: 10px;
            font-weight: 600;
            text-align: right;
          }
        }
      }
      .myChat {
        @extend .partnerChat;
        width: 802px;
        justify-content: center;
        align-items: flex-end;
        .chatItem {
          align-items: flex-end;
          .numberTime {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            .time {
              opacity: 0.5;
              font-size: 10px;
              font-weight: 600;
              text-align: right;
            }
          }
          .chatBox {
            background-color: #f2f4f7;
            border: none;
          }
        }
      }
    }

    .chatInput {
      width: 802px;
      height: 36px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 16px 16px 0;
      padding: 0 2px 0 0;
      border-radius: 8px;
      input {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        padding: 10px 8px 10px 16px;
        border-radius: 8px;
        border-style: none;
        background-color: #f2f4f7;
      }
      .sendIcon {
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        object-fit: contain;
        color: #f2f4f7;
      }
    }
  }
}
