$black-shade: #292929;

.preferredTimes {
  width: 420px;
  height: 333px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 11px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(233, 236, 242, 0.5);
  background-color: white;
  .preferredTimesFrame {
    height: 338px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
    .preferredTimesHead {
      height: 24px;
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      padding: 0 16px;
      .title {
        height: 19px;
        flex-grow: 0;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
      .infoIcon {
        width: 15px;
        height: 15px;
        margin: -3px 0 0 0;
        opacity: 0.1;
      }
      .addBtn {
        width: 24px;
        height: 24px;
        margin: 10px 0 0 220px;
        flex-grow: 0;
        object-fit: contain;
        opacity: 0.1;
      }
    }
    .timeTable {
      align-self: stretch;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 11px;
      padding: 0;
      .row {
        height: 44px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 0 16px;
        .overlappingTimes {
          width: 120px;
          height: 23px;
          flex-grow: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          padding: 0;
          .userTime {
            width: 148px;
            height: 17px;
            flex-grow: 0;
            font-family: ProximaNova;
            font-size: 14px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000;
          }
          .partnerTime {
            width: 99px;
            height: 12px;
            flex-grow: 0;
            font-family: ProximaNova;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .partnerPick {
          width: 104px;
          height: 24px;
          flex-grow: 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding: 0;
          .lightblue {
            color: white;
            margin-left: 15px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: lightblue;
            font-size: 12px;
          }
          .red {
            color: white;
            margin-left: 15px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: red;
            font-size: 12px;
          }
        }
        .state {
          width: 68px;
          height: 24px;
          flex-grow: 0;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding: 0;
          .statePrinted {
            width: 42px;
            height: 15px;
            flex-grow: 0;
            font-family: ProximaNova;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.3);
          }
        }
        .myPick {
          width: 24px;
          height: 24px;
          margin: 4.5px 0 4.5px 16px;
          input {
            width: 20px;
            height: 20px;
            border-radius: 8px;
            border: solid 1px #000;
          }
        }
        .stateFinalized {
          @extend .state;
          color: black;
          font-weight: bold;
        }
      }
      .rowChecked {
        @extend .row;
        background-color: #fafbfc;
      }
    }
  }
}
