.preferredTimes {
  width: 420px;
  height: 333px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 11px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(233, 236, 242, 0.5);
  background-color: white;
  .preferredTimesFrame {
    height: 338px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    .preferredTimesHead {
      height: 24px;
      align-self: stretch;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 16px;
      .title {
        height: 19px;
        font-size: 16px;
        font-weight: bold;
        color: #000;
      }
      .infoIcon {
        width: 15px;
        height: 15px;
        margin: -3px 0 0 0;
        opacity: 0.1;
      }
      .addBtn {
        width: 24px;
        height: 24px;
        margin: 10px 0 0 220px;
        object-fit: contain;
        opacity: 0.1;
      }
    }
    .timeTable {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 11px;
      .row {
        height: 44px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 0 16px;
        .overlappingTimes {
          width: 120px;
          height: 23px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 4px;
          .userTime {
            width: 148px;
            height: 17px;
            font-size: 14px;
            font-weight: 600;
            color: #000;
          }
          .partnerTime {
            width: 109px;
            height: 12px;
            font-size: 10px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .partnerPick {
          width: 104px;
          height: 24px;
          display: flex;
          align-items: center;
        }
        .state {
          width: 68px;
          height: 24px;
          display: flex;
          align-items: center;
          gap: 10px;
          .statePrinted {
            width: 42px;
            height: 15px;
            font-size: 12px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.3);
          }
        }
        .myPick {
          width: 24px;
          height: 24px;
          margin: 4.5px 0 4.5px 16px;
          input {
            width: 20px;
            height: 20px;
            border-radius: 8px;
            border: solid 1px #000;
          }
        }
        .stateFinalized {
          @extend .state;
          color: black;
          font-weight: bold;
        }
      }
      .rowChecked {
        @extend .row;
        background-color: #fafbfc;
      }
    }
  }
}
