.learning {
  display: flex;
  padding: 50px;
}

.learningLeft {
  width: 500px;
  height: 100%;
}

.learningRight {
  width: 500px;
  height: 100%;
}

.calendar {
  text-align: center;
  margin-left: 40px;
  margin-bottom: 30px;
}

.calendarHeader {
  display: flex;
}

.calendarMonth {
  font-weight: bold;
  font-size: 17px;
  padding-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.calendarDesc {
  font-size: 11px;
  padding-top: 4px;
}

.calendar .calendarHead {
  font-weight: bold;
  display: flex;
}

.calendar .calendarBody {
  display: flex;
}

.upcomingStudent1 {
  background-color: rgb(174, 174, 253);
  border-radius: 5px;
  margin: 0px 3px;
  padding: 0px 2px;
  color: white;
  font-weight: bold;
}

.upcomingStudent2 {
  background-color: rgb(102, 102, 209);
  border-radius: 5px;
  margin: 0px 3px;
  padding: 0px 2px;
  color: white;
  font-weight: bold;
}

.selectedDate {
  padding: 4px 0px;
  font-size: 12px;
  width: 50px;
}

.date {
  padding: 8px 0px;
  font-size: 12px;
  width: 50px;
}

.scheduledDate {
  background-color: rgb(174, 174, 253);
  border-radius: 50%;
  padding: 3px 4px;
  color: white;
  font-weight: bold;
}

.scheduledDateShort {
  background-color: rgb(174, 174, 253);
  border-radius: 50%;
  padding: 3px 8px;
  color: white;
  font-weight: bold;
}

.scheduledDateDark {
  background-color: rgb(102, 102, 209);
  border-radius: 50%;
  padding: 3px 4px;
  color: white;
  font-weight: bold;
}

.scheduledDateDarkShort {
  background-color: rgb(102, 102, 209);
  border-radius: 50%;
  padding: 3px 8px;
  color: white;
  font-weight: bold;
}

.scheduledStudent {
  color: rgb(174, 174, 253);
  font-size: 8px;
  margin: 0px;
}

.scheduledStudentDark {
  color: rgb(102, 102, 209);
  font-size: 8px;
  margin: 0px;
}

.userInfos {
  display: flex;
}

.userInfos .userInfo {
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  width: 180px;
  box-shadow: 4px 4px 4px 4px rgb(208, 209, 198);
}

.userInfoHead {
  display: flex;
  padding: 2px;
}

.weekInfo {
  background-color: rgb(186, 240, 240);
  margin-left: 10px;
  font-weight: bold;
  color: blue;
}

.university {
  margin-top: 2px;
  font-weight: bold;
}

.curTime {
  margin-top: -7px;
  font-weight: bold;
}

.chatInfo {
  align-items: center;
  text-align: center;
  color: rgb(255, 94, 0);
  background-color: antiquewhite;
  padding: 10px;
  margin: 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat {
  margin-left: 10px;
}

.sessionInfo {
  align-items: center;
  text-align: center;
  color: rgb(104, 98, 98);
  background-color: antiquewhite;
  padding: 1px;
  margin: 1px 5px;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.startSession {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: 15px;
}

.startSessionContents {
  margin-left: 10px;
}

.upcomingSession {
  font-size: 13px;
}

.howToMeetFlex {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  display: flex;
}

.howToMeet {
  background-color: rgb(186, 240, 240);
  padding: 15px 0px;
  border-radius: 7px;
  font-size: 12px;
  text-align: center;
  color: rgb(114, 112, 112);
  width: 400px;
  margin-right: 20px;
}

.howToMeetLink:link {
  color: black;
  font-weight: bold;
}

.infoIcon {
  margin-top: 10px;
  color: grey;
  cursor: pointer;
}

.collegeLife {
  margin-left: 20px;
  font-weight: lighter;
}

.recommendationContents {
  font-size: 11px;
  line-height: 25px;
}

.greyContents {
  color: rgb(107, 106, 106);
  font-size: 11px;
}

.goToDiscussion {
  width: 100%;
  background-color: blanchedalmond;
  padding: 20px 10px;
  text-align: center;
  color: rgb(66, 65, 65);
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgb(208, 209, 198);
}

.flipNote {
  display: flex;
}

.arrowCircle {
  background-color: rgb(201, 177, 146);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: rgb(75, 73, 73);
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.languageSelect {
  margin-left: 20px;
  font-weight: lighter;
  color: rgb(66, 65, 65);
  font-size: 13px;
  display: flex;
  margin-top: 5px;
}

.itemsContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  margin: 5px;
  display: flex;
  align-items: center;
  background-color: lightblue;
  padding: 10px 10px;
  font-size: 11px;
  border-radius: 5px;
  color: navy;
  font-weight: bold;
  cursor: pointer;
}
