$blackShade: #292929;

.frameHeader {
  height: 55px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 65px 30px 0px 40px;
  color: $blackShade;
  .hello {
    width: 106px;
    height: 22px;
    font-size: 18px;
    font-weight: 300;
  }
  .welcome {
    width: 397px;
    height: 29px;
    font-size: 24px;
    font-weight: 500;
    .text1 {
      font-weight: 300;
    }
    .text2 {
      font-weight: bold;
    }
  }
}
