.sidebar {
  height: 100%;
  background-color: rgb(222, 223, 215);
  text-align: center;
  .switch {
    font-weight: bold;
    font-size: 15px;
    &:link {
      text-align: center;
      text-decoration: none;
      color: rgb(133, 130, 130);
    }
  }

  .sidebarList {
    height: 100%;
    padding: 0;
    width: 200px;
    .sidebarLink {
      text-decoration: none;
      .row {
        height: 50px;
        display: flex;
        align-items: center;
        color: black;
        &:hover {
          cursor: pointer;
          background-color: rgb(174, 175, 165);
        }
        .icon {
          margin: 0px 5px 0px 30px;
        }
      }
      .rowActive {
        height: 50px;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        background-color: rgb(174, 175, 165);
        .icon {
          margin: 0px 5px 0px 30px;
        }
      }
    }

    .language {
      margin-top: 100px;
      margin-bottom: 25px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      color: rgb(133, 130, 130);
      .languageSelected {
        background-color: rgb(184, 185, 174);
        color: black;
        padding: 5px;
      }
      .languages {
        padding: 5px;
      }
    }
    .login {
      font-weight: bold;
      &:link {
        text-align: center;
        text-decoration: none;
      }
    }
    .account {
      background-color: white;
      text-align: center;
      padding: 5px 25px;
      border-radius: 5px;
      color: rgb(133, 130, 130);
      display: flex;
      font-size: 15px;
      align-items: center;
      width: 100px;
      margin: 25px 0px 0px 25px;
      .green {
        background-color: yellowgreen;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        margin-right: 5px;
      }
    }
  }
}
