.calendar {
  text-align: center;
  margin-left: 40px;
  margin-bottom: 30px;
}

.calendarHeader {
  display: flex;
  .calendarMonth {
    font-weight: bold;
    font-size: 17px;
    padding-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  .calendarDesc {
    font-size: 11px;
    padding-top: 4px;
    .upcomingStudent1 {
      background-color: rgb(174, 174, 253);
      border-radius: 5px;
      margin: 0px 3px;
      padding: 0px 2px;
      color: white;
      font-weight: bold;
    }
    .upcomingStudent2 {
      background-color: rgb(102, 102, 209);
      border-radius: 5px;
      margin: 0px 3px;
      padding: 0px 2px;
      color: white;
      font-weight: bold;
    }
  }
}

.calendar {
  .date {
    padding: 8px 0px;
    font-size: 12px;
    width: 50px;
  }
  .calendarHead {
    font-weight: bold;
    display: flex;
  }
  .calendarBody {
    display: flex;
    .selectedDate {
      padding: 4px 0px;
      font-size: 12px;
      width: 50px;
      .scheduledDate {
        background-color: rgb(174, 174, 253);
        border-radius: 50%;
        padding: 3px 4px;
        color: white;
        font-weight: bold;
      }
      .scheduledDateShort {
        background-color: rgb(174, 174, 253);
        border-radius: 50%;
        padding: 3px 7px;
        color: white;
        font-weight: bold;
      }
      .scheduledDateDark {
        background-color: rgb(102, 102, 209);
        border-radius: 50%;
        padding: 3px 4px;
        color: white;
        font-weight: bold;
      }
      .scheduledDateDarkShort {
        background-color: rgb(102, 102, 209);
        border-radius: 50%;
        padding: 3px 7px;
        color: white;
        font-weight: bold;
      }
      .scheduledStudent {
        color: rgb(174, 174, 253);
        font-size: 8px;
        margin: 0px;
      }
      .scheduledStudentDark {
        color: rgb(102, 102, 209);
        font-size: 8px;
        margin: 0px;
      }
    }
  }
}
