body {
  padding: 0;
  margin: 0;
  background-color: rgb(248, 243, 233);
  overflow-y: hidden;
}

h1 {
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.App {
  width: 100vh;
  height: 100vh;
  display: flex;
}

.sidebar {
  height: 100%;
  background-color: rgb(222, 223, 215);
  text-align: center;
}

.switch {
  font-weight: bold;
  font-size: 12px;

  &:link {
    text-align: center;
    text-decoration: none;
    color: rgb(133, 130, 130);
  }
}

.sidebarList {
  height: 100%;
  padding: 0;

  .row {
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: rgb(208, 209, 198);
    }

    .icon {
      margin-left: 40px;
      margin-right: 5px;
    }
  }
}

.language {
  margin-top: 160px;
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: rgb(133, 130, 130);

  .languageSelected {
    background-color: rgb(184, 185, 174);
    color: black;
    padding: 5px;
  }

  .languages {
    padding: 5px;
  }
}

.account {
  background-color: white;
  text-align: center;
  padding: 5px 25px;
  border-radius: 5px;
  color: rgb(133, 130, 130);
  display: flex;
  font-size: 15px;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.myCircle {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  margin-right: 5px;
}

.circle {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  margin-right: 5px;
}

.contents {
  display: flex;
  padding: 50px;
}

.learningLeft,
.learningRight {
  width: 500px;
  height: 100%;
}
