h3 {
  font-size: 17px;
  color: black;
}

.scheduleAndChat {
  display: flex;
  padding: 30px 50px;
  flex-direction: column;
}

.scheduleAndChatHead {
  height: 100px;
  display: flex;
  h1 {
    margin-right: 50px;
  }
  .circle {
    color: white;
    margin: 30px 0px 0px 10px;
    cursor: pointer;
    .red {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: red;
    }
  }
}

.scheduleAndChatBody {
  display: flex;
  gap: 50px;
}

.chatBody {
  width: 650px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 4px 4px 4px 4px rgb(208, 209, 198);
  .chatInfo {
    font-weight: bold;
    font-size: 13px;
    .partnerInfo {
      height: 70px;
      display: flex;
      color: rgb(196, 193, 193);
      padding-bottom: 10px;
      .partnerMain {
        width: 25%;
        color: black;
        padding: 10px 0px;
      }
      .partnerSub {
        width: 25%;
        padding: 10px 0px;
      }
      .partnerUniv {
        width: 25%;
        padding: 10px 0px;
      }
      .partnerTaste {
        width: 25%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1px 1px;
        .partnerTasteItem {
          border: 1px solid rgb(196, 193, 193);
          padding: 0px 5px;
          border-radius: 20px;
        }
        .partnerTasteItemLighter {
          border: 1px solid rgb(223, 223, 223);
          color: rgb(223, 223, 223);
          padding: 0px 5px;
          border-radius: 20px;
        }
      }
    }
    .regularMeeting {
      border-top: 2px solid lightgrey;
      text-align: center;
      padding-top: 10px;
      .meetingContainer {
        display: flex;
        gap: 5px;
        justify-content: center;
        .meetingItem {
          margin-top: 10px;
          border: 2px solid black;
          padding: 0px 10px;
          padding-bottom: 5px;
          color: grey;
          font-size: 10px;
          border-radius: 10px;
          background-color: rgb(248, 243, 233);
        }
      }
    }
  }
  .chatScreen {
    height: 350px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    .chatContainer {
      height: 330px;
      padding-top: 10px;
      .chatItem {
        .chatBox {
          display: flex;
          gap: 5px;
          margin-bottom: 5px;
          .chatMessage {
            background-color: rgb(248, 243, 233);
            padding: 8px;
            border-radius: 5px;
          }
          .chatTime {
            padding-top: 20px;
            font-size: 10px;
            color: rgb(99, 99, 99);
          }
        }
      }
      .chatMyItem {
        .chatBox {
          display: flex;
          flex-direction: row-reverse;
          gap: 5px;
          margin-bottom: 5px;
          .chatMessage {
            background-color: orange;
            padding: 8px;
            border-radius: 5px;
          }
          .chatTime {
            padding-top: 20px;
            font-size: 10px;
            margin-left: auto;
            color: rgb(99, 99, 99);
          }
        }
      }
    }

    .chatInput {
      height: 30px;
      display: flex;
      input {
        width: 95%;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
        background-color: rgb(248, 243, 233);
        border-style: none;
        padding: 0px 10px;
        font-weight: bold;
      }
      .sendIcon {
        color: orange;
        border: none;
        background-color: rgb(248, 243, 233);
        cursor: pointer;
      }
    }
  }
}

.scheduleBody {
  width: 400px;
  margin: 5px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 22px;
  }
}

.timezone {
  height: 130px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 4px 4px 4px 4px rgb(208, 209, 198);
  .converterContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    margin-top: 5px;
    .converterItemColored {
      border-radius: 10px;
      border: 2px solid black;
      padding: 10px;
      text-align: center;
      background-color: rgb(39, 133, 123);
      color: white;
      .city {
        display: flex;
        justify-content: center;
        font-size: 10px;
        .cityName {
          justify-content: center;
          margin-left: 30%;
        }
        .now {
          margin-left: auto;
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .time {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        padding: 2px;
        gap: 5px;
        margin-left: 10px;
        .ampm {
          font-size: 12px;
          border: 1px solid white;
          padding: 1px 3px;
          margin-left: auto;
          border-radius: 5px;
        }
      }
      .date {
        display: flex;
        justify-content: center;
        gap: 3px;
        font-size: 13px;
        font-weight: bold;
        .day {
          font-weight: lighter;
          color: lightgrey;
        }
      }
    }
    .converterItem {
      padding: 10px;
      text-align: center;
      .city {
        display: flex;
        justify-content: center;
        font-size: 10px;
      }
      .time {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        padding: 3px;
        gap: 5px;
        margin-left: 10px;
        .ampm {
          font-size: 12px;
          border: 1px solid black;
          padding: 1px 3px;
          margin-left: auto;
          border-radius: 5px;
        }
      }
      .date {
        display: flex;
        justify-content: center;
        gap: 3px;
        font-size: 13px;
        font-weight: bold;
        .day {
          font-weight: lighter;
          color: rgb(77, 76, 76);
        }
      }
    }
  }
}

.upDown {
  cursor: pointer;
  color: grey;
}

.preferredTimes {
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 4px 4px 4px 4px rgb(208, 209, 198);
  .timeTable {
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    .tableHead {
      display: flex;
      font-size: 13px;
      align-items: center;
      padding: 3px;
      .overlappingTimes {
        width: 45%;
      }
      .partnerPick {
        width: 15%;
      }
      .myPick {
        width: 15%;
      }
    }
    .tableBody {
      font-size: 10px;
      color: grey;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        padding: 6px;
        border-radius: 10px;
        .overlappingTimes {
          width: 45%;
        }
        .partnerPick {
          width: 15%;
          .circle {
            color: white;
            margin-left: 15px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: lightblue;
            font-size: 12px;
          }
        }
        .myPick {
          width: 15%;
        }
        .state {
          width: 25%;
        }
      }
    }
  }
}
