button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
textarea {
  resize: none;
}

.contents {
  display: flex;
  .studySets {
    padding: 70px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    .studySetsHead {
      display: flex;
      width: 300px;
      gap: 120px;
      margin-bottom: 20px;
      .studySetsTitle {
        font-weight: bold;
        font-size: 20px;
      }
      .studySetsBtn {
        font-size: 25px;
        color: grey;
        &:hover {
          color: black;
        }
      }
    }
    .studySetsBody {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .studySetsList {
        display: flex;
        gap: 45px;
        .studySetsFolder {
          display: flex;
          width: 200px;
          font-size: 18px;
          gap: 10px;
          align-items: center;
          font-weight: bold;
        }
        .studySetsEllipsis {
          color: grey;
          font-weight: bold;
          font-size: 30px;
        }
      }
    }
  }

  .words {
    padding: 50px;
    .wordsHead {
      display: flex;
      width: 450px;
      gap: 20px;
      margin-bottom: 50px;
      .wordsTitle {
        .wordsTitleName {
          font-size: 40px;
        }
      }
      .wordsTitleLanguage {
        font-size: 35px;
        background-color: orange;
        color: white;
        padding: 5px;
        border-radius: 30px;
      }
    }

    .wordsList {
      .wordsListHead {
        display: flex;
        margin-left: 55px;
        gap: 220px;
      }
    }
    .wordsListFolder {
      margin: 20px 0px 20px 0px;
    }
    .wordsListRow {
      display: flex;
      .wordsListId {
        display: flex;
        width: 50px;
        background-color: white;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .wordsListTerm {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListDefinition {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListEllipsis {
        font-size: 25px;
        font-weight: bold;
        color: grey;
      }
    }
    .wordsAddBtn {
      font-size: 50px;
      margin: 50px 0px 0px 300px;
    }
  }

  .noWords {
    color: grey;
    font-weight: bold;
    margin-top: 400px;
    width: 600px;
    margin-left: 50px;
    font-size: 25px;
  }
}
