button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
textarea {
  resize: none;
}

.contents {
  display: flex;
  .background {
    position: fixed;
    z-index: 10;
    background-color: transparent;
    opacity: 50%;
    width: 100%;
    height: 100%;
  }
  .studySets {
    padding: 70px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    .studySetsHead {
      display: flex;
      width: 300px;
      gap: 120px;
      margin-bottom: 20px;
      .studySetsTitle {
        font-weight: bold;
        font-size: 20px;
      }
      .studySetsBtn {
        font-size: 25px;
        color: grey;
        &:hover {
          color: black;
        }
      }
    }
    .studySetsAdd {
      position: absolute;
      background-color: white;
      margin-left: 250px;
      margin-top: 30px;
      display: flex;
      padding: 10px;
      gap: 5px;
      box-shadow: 0px 4px 4px 0px rgb(208, 209, 198);
      border-radius: 10px;
      z-index: 20;
      button {
        color: white;
        font-weight: bold;
        border-radius: 10px;
        padding: 5px;
      }
      .ko {
        background-color: blue;
      }
      .en {
        background-color: orange;
      }
      .zh {
        background-color: rgb(216, 216, 2);
      }
      .de {
        background-color: lightblue;
      }
    }

    .studySetsBody {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .studySetsList {
        display: flex;
        gap: 45px;
        .studySetsFolder {
          display: flex;
          width: 200px;
          font-size: 18px;
          gap: 10px;
          align-items: center;
          font-weight: bold;
        }
        .studySetsEllipsis {
          color: grey;
          font-weight: bold;
          font-size: 30px;
        }
        .studySetsEllipsisBox {
          display: flex;
          z-index: 20;
          flex-direction: column;
          background-color: rgb(168, 168, 168);
          position: absolute;
          margin-left: 185px;
          margin-top: 35px;
          gap: 0px;
          .studySetsEdit {
            border-bottom: 1px solid black;
            width: 100%;
            padding: 10px 30px 10px 30px;
          }
          .studySetsDelete {
            padding: 10px 30px 10px 30px;
          }
        }
      }
    }
  }

  .words {
    padding: 50px;
    .wordsHead {
      display: flex;
      width: 550px;
      gap: 20px;
      margin-bottom: 50px;
      .wordsTitle {
        .wordsTitleName {
          font-size: 40px;
        }
      }
      .wordsTitleLanguage {
        font-size: 35px;
        background-color: orange;
        color: white;
        padding: 5px;
        border-radius: 30px;
      }
    }

    .wordsList {
      .wordsListHead {
        display: flex;
        margin: 0px 0px 10px 60px;
        gap: 240px;
      }
    }
    .wordsListView {
    }
    .wordsCardView {
      display: flex;
    }
    .wordsListRow {
      display: flex;
      .wordsListId {
        display: flex;
        width: 50px;
        background-color: yellow;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .wordsListTerm {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListDefinition {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListEllipsis {
        font-size: 25px;
        font-weight: bold;
        color: grey;
      }
      .wordsListEllipsisBox {
        display: flex;
        z-index: 20;
        flex-direction: column;
        background-color: rgb(168, 168, 168);
        position: absolute;
        margin-left: 520px;
        margin-top: 35px;
        gap: 0px;
        .wordsListMove {
          border-bottom: 1px solid black;
          width: 100%;
          padding: 10px 30px 10px 30px;
        }
        .wordsListMoveScreen {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: -300px;
          background-color: white;
          position: absolute;
          width: 380px;
          height: 300px;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid black;
          button {
            text-align: left;
            font-weight: bold;
          }
        }
        .wordsListDelete {
          padding: 10px 30px 10px 30px;
        }
      }
    }
    .wordsListCard {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      .wordCard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding: 20px 40px 20px 20px;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 0px 4px 4px 0px rgb(208, 209, 198);
        .wordCardTerm {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .wordsListTerm {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListDefinition {
        padding: 15px 0px 0px 15px;
        width: 250px;
      }
      .wordsListEllipsis {
        font-size: 25px;
        font-weight: bold;
        color: grey;
      }
      .wordsListEllipsisBox {
        display: flex;
        z-index: 20;
        flex-direction: column;
        background-color: rgb(168, 168, 168);
        position: absolute;
        margin-left: 520px;
        margin-top: 35px;
        gap: 0px;
        .wordsListMove {
          border-bottom: 1px solid black;
          width: 100%;
          padding: 10px 30px 10px 30px;
        }
        .wordsListMoveScreen {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: -300px;
          background-color: white;
          position: absolute;
          width: 380px;
          height: 300px;
          padding: 10px;
          border-radius: 10px;
          border: 2px solid black;
          button {
            text-align: left;
            font-weight: bold;
          }
        }
        .wordsListDelete {
          padding: 10px 30px 10px 30px;
        }
      }
    }
    .wordsAddBtn {
      font-size: 50px;
      margin: 50px 0px 0px 300px;
    }
  }

  .noWords {
    color: grey;
    font-weight: bold;
    margin-top: 400px;
    width: 600px;
    margin-left: 50px;
    font-size: 25px;
  }
}
